{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}


{% block content %}
    <center><h1>Hello , Welcome to my chat site ! {{request.user}}</h1></center>
    <br>
    <div
      class="chat__item__container"
      id="id_chat_item_container"
      style="font-size: 20px"
    >
      <br />
      <input type="text" id="id_message_send_input" />
      <button class="bg-red-400" type="submit" id="id_message_send_button">Send Message</button>
      <br />
      <br />
    </div>
{% endblock content %}